*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    /*FireFox*/
    scrollbar-width: none;

    /*IE10+*/
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
*::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
